<!DOCTYPE html>
<html lang="en">
  <head>
    <title>e28 Project 1</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main id="app" v-cloak>
      <h1 :class="{gameTitle : !playing}">Haunted House</h1>
      <section class="gameData">
        <button @click.prevent="timer" v-if="!playing && round==1">Explore the Haunted House</button>
        <p v-if="playing" class="clock">{{clock}}</p> 
        <h2 v-if="!playing && round>1">Poor choice! I do believe you may be trapped in this haunted house forever...</h2>       
        <div v-if="!playing && round>1" v-for="game in gameSave">
          <feedback-text :round="game.game" :stop="game.time" :rooms="game.rooms"></feedback-text>
        </div>
        <div class="options" v-if="!playing && round>1">
          <button @click.prevent="playAgain" >Play Again</button>
          <button @click.prevent="gameSave = []" >Clear Past Rounds</button>
        </div>
      </section>
      <section class="house" v-if="playing">
        <div class="room" v-for="room in visibleHouse">
          <img :src="'illustration/Haunted_House_' + room.name +'.svg'" alt="another spooky room"/>
        </div>
      </section>
      <section class="adventure" v-if="playing">
        <div v-show="adventure">
          <h3 v-show="currentRoom == 0">Upon entering the house...</h3>
          <h3 v-show="currentRoom != 0">Congrats, you survived...this time.</h3>
          <h4>{{house[currentRoom].mystery}}</h4>
          <button @click.prevent="flipACoin">{{house[currentRoom].doThis}}</button>
          <button @click.prevent="flipACoin">{{house[currentRoom].doThat}}</button>
        </div>
      </section>
    </main>
  </body>
</html>
