[v-cloak] {
  display: none;
}

.house {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.room {
  height: 20vh;
  min-width: 200px;
  flex-wrap: nowrap;
}

/*This will dim the other rooms*/
div:not(:last-child) img{
  filter: brightness(.25);
}

body{ 
  background-color: rgb(7, 7, 26);
  font-family: 'Lakki Reddy', cursive;
  color: orange; 
}

button {
  background-color: orange;
  color: black; 
  font-family: 'Lakki Reddy', cursive;
font-size: 24px;
}

h1{
  text-align: center;
  font-size: 40px;
}

.clock {
  text-align: center;
  font-size: 24px;
  color: limegreen;
}