[v-cloak] {
  display: none;
}
.gameData {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.house {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.room {
  min-width: 200px;
  flex-wrap: nowrap;
}

/*This will dim the other rooms*/
div:not(:last-child) img {
  filter: brightness(0.25);
}

body {
  background-color: rgb(7, 7, 26);
  font-family: "Lakki Reddy", cursive;
  color: orange;
  text-align: center;
}

button {
  background-color: orange;
  color: black;
  font-family: "Lakki Reddy", cursive;
  font-size: 24px;
}
button:hover {
  filter: saturate(250%);
}

h1 {
  text-align: center;
  font-size: 40px;
  transition: font-size ease-in-out 2s;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  font-weight: normal;
}

.clock {
  text-align: center;
  font-size: 24px;
  color: limegreen;
}

.adventure,
h2 {
  color: white;
}

.gameTitle {
  font-size: 60px;
  transition: font-size ease-in-out 2s;
}
